@model IEnumerable<FirstCoreMVC.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}


        <div class="row" style="margin-top:50px;">
            @{
        foreach (var Car in Model)
        {
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        @Car.Name
                    </div>
                    <div class="panel-body text-center">
                        <img src="@Car.ImagePath" width="240" />
                        <br />
                        <h3>@Car.Category.Name @Car.Name</h3>
                        <br />
                        <h5>@string.Format("{0:C0}", Car.Price)</h5>
                        <br />

                    </div>
                </div>
            </div>
        }
            }

        </div>
